<mat-card class="app-card-basics-form">
  <mat-card-subtitle>
    <div *ngIf="isError" class="app-card-error">{{errorMessage}}</div>
  </mat-card-subtitle>
  <mat-card-content>
    <form [formGroup]="generateForm" autocomplete="off" novalidate>
      <table class="app-full-width" cellspacing="3" cellpadding="3" border="0">
        <tbody>
           <tr *ngIf="challengeLabel">
             <td colspan="3">
                <mat-form-field class="input-width">
                    <mat-label>{{challengeLabel}}</mat-label>
                    <input matInput formControlName="challengeNumber" id="challengeNumber" type="number" step="1" min="1" max="50" required autofocus>
                    <mat-error>Valid Number between 1 to 50 Required</mat-error>
                </mat-form-field>
             </td>
           </tr>
           <tr>
             <td colspan="3">
                <mat-form-field class="input-width">
                    <mat-label>Number of Questions</mat-label>
                    <input matInput formControlName="totalQuestions" id="totalQuestions" value="{{minNumberQuestions}}" type="number" step="1" min="{{minNumberQuestions}}" max="50" required>
                    <mat-error>Valid Number between 1 to 50 Required</mat-error>
                </mat-form-field>
             </td>
           </tr>
           <tr>
             <td align="left" width="20%">
                <button [disabled]="(generateForm.invalid)" class="mat-button-submit" mat-button (click)="getQuestions()">Submit</button>
             </td>
             <td align="left" width="20%">
                <button [disabled]="generateForm.pristine" class="mat-button-clear" mat-button (click)="resetForm()">Clear</button>
             </td>
             <td width="60%"></td>
           </tr>
        </tbody>
      </table>
    </form>
  </mat-card-content>
</mat-card>
