@import '~@angular/material/theming';

@include mat-core();

$qme-app-primary: mat-palette($mat-grey, 800, 700, 800);
$qme-app-accent: mat-palette($mat-grey,50,50,50);
$qme-app-warn:mat-palette($mat-red,A200,A200,A200);
$qme-app-theme: mat-dark-theme($qme-app-primary, $qme-app-accent, $qme-app-warn);

@include angular-material-theme($qme-app-theme);

html, body {
  margin: 1px;
  background-color: mat-color($qme-app-primary,700);
  font-family: Roboto, sans-serif;
  height:100%;
}

.app-full-width {
  width: 100%;
}

.app-card {
  background-color: mat-color($qme-app-primary,700);
}

.app-card-error{
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  color: mat-color($qme-app-warn);
}

.app-card-login-form  {
  @extend .app-card;
  margin: auto;
  margin-top: 10px;
  width: 30%;
}

.app-card-basics-form  {
  @extend .app-card;
  margin-left: 50px;
  margin-top: 10px;
  width: 50%;
}

.mat-focused .mat-form-field-label {
    color: mat-color($mat-grey,50) !important;
}

.mat-form-field-ripple {
    background-color: mat-color($mat-grey,50) !important;
}

.mat-button-submit {
  color : mat-color($mat-grey,50);
  background-color: mat-color($mat-blue,400);
  width: 70px;
  height: 25px;
  line-height: 10px;
  min-height: 10px;
  vertical-align: top;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 0 0;
  margin: 0;
}

.mat-button-submit:disabled {
 color : mat-color($mat-grey,50);
 background-color: mat-color($mat-blue,200);
 width: 70px;
 height: 25px;
 line-height: 10px;
 min-height: 10px;
 vertical-align: top;
 font-family: Roboto, sans-serif;
 font-size: 14px;
 font-weight: bold;
 padding: 0 0;
 margin: 0;
}

.mat-button-clear {
  color : mat-color($mat-grey,50);
  background-color: mat-color($mat-grey,500);
  width: 70px;
  height: 25px;
  line-height: 10px;
  min-height: 10px;
  vertical-align: top;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 0 0;
  margin: 0;
}

.mat-button-clear:disabled {
 color : mat-color($mat-grey,50);
 background-color: mat-color($mat-grey,300);
 width: 70px;
 height: 25px;
 line-height: 10px;
 min-height: 10px;
 vertical-align: top;
 font-family: Roboto, sans-serif;
 font-size: 14px;
 font-weight: bold;
 padding: 0 0;
 margin: 0;
}

.nav_back{
  font-size: 50px;
  color: mat-color($mat-blue,400);
  cursor: pointer
}
