html, body {
  margin: 1px;
  background-color: #616161;
  font-family: Roboto, sans-serif;
  height:100%;
}

.fill-space {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.app-full-width {
  width: 100%;
}

.app-card {
  margin: auto;
  margin-top: 10px;
  width: 30%;
  background-color: #616161;
}

.mat-focused .mat-form-field-label {
    color: #FAFAFA !important;
}

.mat-form-field-ripple {
    background-color: #FAFAFA !important;
}



.mat-button-submit {
  color : #FAFAFA;
  background-color: #1B9DEC;
  width: 70px;
  height: 25px;
  line-height: 10px;
  min-height: 10px;
  vertical-align: top;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 0 0;
  margin: 0;
}

.mat-button-submit:not([disabled]): {
  color : #FAFAFA;
  background-color: #1B9DEC;
  width: 70px;
  height: 25px;
  line-height: 10px;
  min-height: 10px;
  vertical-align: top;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 0 0;
  margin: 0;
}

.mat-button-submit:disabled {
  color : #FAFAFA;
  background-color: #90CAF9;
  width: 70px;
  height: 25px;
  line-height: 10px;
  min-height: 10px;
  vertical-align: top;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 0 0;
  margin: 0;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.eot"); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url("../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff2") format('woff2'),
  url("../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff") format('woff'),
  url("../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.ttf") format('truetype');
}

.material-icons {
  font-family: 'Material Icons', 'sans-serif';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
