<span class="material-icons nav_back" [routerLink]="['/home']">navigate_before</span>
<mat-card class="app-card-basics-form">
  <mat-card-subtitle><div *ngIf="isError" class="app-card-error">{{errorMessage}}</div></mat-card-subtitle>
  <mat-card-content>
    <form [formGroup]="multiplyForm" class="multiply-form" (ngSubmit)="getMultiplySet()" autocomplete="off" novalidate>
          <mat-form-field class="app-full-width">
          <mat-label>Number</mat-label>
              <input matInput formControlName="multiple" id="multiple" type="number" step="10" min="1" max="50" required autofocus>
              <mat-error>Valid Multiple between 1 to 50 Required</mat-error>
          </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
